ul{
  list-style: none;
}

.cont{
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
}
.holidays{
  color: red;
}

body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mesi h1{
  display: none;
}


.mesi h1.active{
  display: block;
}
